.banner-second {
  .bg-img {
    height: 500px;
    @include media-breakpoint-only(md) {
      height: 450px;
    }
    @include media-breakpoint-only (sm) {
      height: 400px;
    }
    @include media-breakpoint-only (xs) {
      height: 350px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover';
    }
  }
  .content-outer {
    max-width: 745px;
    text-align: left;
    h1 {
      text-align: left;
      color: $gray;
    }
    p {
      margin-top: 32px;
      color: $gray;
    }
  }
}
