.footer-cta {
  padding: 141px 0 181px;
     background-image: linear-gradient(305deg, #75c9b4, #0096aa);
   @include desktop{
     padding: 120px 0;
   }
   @include tablet{
     padding: 80px 0;
   }
  @include phablet{
    padding: 60px 0;
  }
  @include phablet-down{
    padding: 40px 0;
  }
  .img-wrap{
    position: absolute;
    overflow: visible;
    display: block;
    left: -10%;
    bottom: -60px;
    @include desktop{
      max-width: 550px;
    }
    @include desktop-down{
      max-width: 520px;
      opacity: 0.3;
    }
    .img-box{
      position: absolute;
      bottom: -72px;
      right: -22px;
      z-index: 1;
    }
  }


  .right {
    width: 57%;
    max-width: 652px;
    @include desktop{
      width: 50%;
    }
    @include desktop-down{
      width: 100%;
      float: none;
      max-width: 700px;
    }
    h2 {
      font-size: 55px;
      color: $light-white;
      margin-bottom: 17px;
      line-height: 1.09;
      @include desktop{
        font-size: 50px;
      }
      @include tablet{
        font-size: 40px;
      }
      @include phablet{
        font-size: 35px;
      }
      @include phablet-down{
        font-size: 30px;
      }
    }
    p {
       color: $light-white;
       font-size : 22px;
       font-weight: 300;
       line-height: 1.36;
       max-width: 600px;
      margin-bottom: 63px;
      @include tablet{
        margin-bottom: 50px;
      }
      @include phablet{
        margin-bottom: 40px;
      }
      @include phablet-down{
        margin-bottom: 30px;
      }
    }
    .btn-gap{
      margin-right: 25px;
    }

  }
}