.hero-banner {
  background-image: linear-gradient(106deg, #0096aa, #2f4d7a);
  background-position: top center;
  &:before{}
  .bg-img {
    height: 500px;
    @include media-breakpoint-only(md) {
      height: 450px;
    }
    @include media-breakpoint-only (sm) {
      height: 400px;
    }
    @include media-breakpoint-only (xs) {
      height: 350px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover';
    }
  }
  .right {
    text-align: left;
    max-width: 590px;
    h1 {
      text-align: left;
      color: $light-white;
    }
    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.36;
      margin: 32px 0 40px;
      color: $light-white;
    }
  }
  .head-tab{
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 99999;
    .tab-links{
      display: inline-block;
      border-bottom: none;

      li{
        display: block;
        position: relative;

        .nav-link{
          background: transparent;
          border: none;
          padding: 20px 0;
          color: $light-white;
          cursor: pointer;
        }
        &:after{
          content:'';
          height: 2px;
          width: 100%;
          background: $light-gray;
          position: absolute;
          top: 0;
          left: 0;
          font-weight: 300;
        }
        &:last-child{
          &:before{
            content:'';
            height: 2px;
            width: 100%;
            background: $light-gray;
            position: absolute;
            bottom: 0;
            left: 0;
            font-weight: 300;
          }
        }
        &:hover{
          font-weight: 700;
          &:after{
            font-weight: 700;
          }
          &:last-child{
            &:before{
              font-weight: 700;
            }
          }
        }
      }

    }
  }
}
