.img-with-text {
   .img-box{
     position: absolute;
     top: -31px;
     left: -37%;
     height: 500px;
     max-width: 580px;
     @include desktop{
       max-width: 550px;
     }
     @include tablet{
       top: 0;
       left: -15%;
       max-width: 460px;
     }
     @include tablet-down{
       left: 0;
       max-width: 450px;

     }
   }
  .inner-img{
    padding-right: 15px;
    @include desktop{
      padding-right: 0;
    }
    @include tablet{
      padding-right: 0;
    }
    @include tablet-down{
      max-width: 450px;
      margin: 0 auto;
      padding-right: 0;
    }
  }
  .col-two {
    height: 555px;
    display: table;
    @include tablet-down{
      height: auto;
    }
    .content {
      display: table-cell;
      vertical-align: middle;
      padding-left: 110px;
      @include desktop{
        padding-left: 60px;
      }
      @include tablet{
        padding-left: 35px;
      }
      @include tablet-down{
        display: block;
        margin-top: 30px;
        padding-left: 0;
      }
      p {
        margin: 5px 0 35px;
        max-width: 430px;
        @include tablet-down{
          max-width: 100%;
        }
      }
    }
  }
}