.intro-with-box {
  .intro-block {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    h2 {
      font-size: 40px;
      font-weight: 300;
      font-family: $font-families;
      line-height: 1.23;
      letter-spacing: normal;
      color: $primary;
      @include desktop {
        font-size: 32px;
      }
      @include tablet {
        font-size: 30px;
      }
      @include phablet {
        font-size: 28px;
      }
      @include phone {
        font-size: 26px;
      }
      @include phone-down {
        font-size: 24px;
      }
    }
    p {
      margin-top: 6px;
    }
  }
  .pattern {
    position: absolute;
    width: 765px;
    height: 753px;
    right: -250px;
    top: 0;
  }
  .column-wrapper {
    margin-top: 186px;
    width: calc(100% + 90px);
    margin-left: -45px;
    .col-three {
      text-align: center;
      margin: 0 45px;
      width: calc(33.33% - 90px);
      min-height: 268px;
      padding: 0 30px 58px;
      transition: all 0.4s ease-in-out;
      border: 1px solid $lightbrown-gray;
      transform: scaleY(1);
      transform-origin: bottom;
      background: $white;
      &.text-blue {
        h5 {
          color: $light-blue;
        }
      }
      &.text-green {
        h5 {
          color: $green;
        }
      }
      &.text-yellow {
        h5 {
          color: $primary5;
        }
      }
      .logo {
        max-width: 245px;
        margin: -33px auto 0;
      }
      h5 {
        max-width: 175px;
        margin: 30px auto 0;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
      }
      p {
        margin-top: 30px;
        line-height: 1.25;
      }
      a {
        //position: absolute;
        //display: none;
        opacity: 0;
        margin-top: 30px;
      }
      &:hover {
        transform: scaleY(1.2);
        transform-origin: bottom;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
        a {
          //position: relative;
          opacity: 1;
          display: inline-block;
        }
      }
    }
  }
}