.intro-with-icons{
  .left{
    width: 43%;
    @include tablet{
      width: 100%;
      margin-bottom: 30px;
    }
    @include tablet-down{
      width: 100%;
      margin-bottom: 30px;
    }
    h2{
      font-weight: 300;
      max-width: 365px;
      margin-bottom: 10px;
      @include tablet{
        max-width: 550px;
      }
      @include phablet{
        max-width: 550px;
      }
      @include phablet-down{
        max-width: 100%;
      }
    }
   p{
     max-width: 365px;
     line-height: 1.23;
     margin-bottom: 40px;
     @include tablet{
       max-width: 650px;
       margin-bottom: 30px;
     }
     @include phablet{
       max-width: 650px;
       margin-bottom: 20px;
     }
     @include phablet-down{
       max-width: 100%;
       margin-bottom: 20px;
     }
   }
  }
  .right{
    width: 57%;
    @include desktop-down{
      width: 100%;
    }
    .col-two{
      margin-bottom: 80px;
      @include tablet{
        width: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 50px;
      }
      @include phablet{
        width: calc(50% - 20px)!important;
        margin-right: 20px;
        margin-bottom: 40px;
      }
      @include phablet-down{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      .img-box {
        float: left;
        width: 30%;
        .circle-content {
          background: $light-gray;
          display: table-cell;
          height: 79px;
          width: 79px;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
        }
      }
      .content{
        float: left;
        width: 70%;
        h6{
          font-size: 14px;
          font-weight: bold;
          line-height: 1.21;
          letter-spacing: normal;
          max-width: 171px;
          @include tablet{
            max-width: 240px;
          }
          @include phablet{
            max-width: 250px;
          }
          @include phablet-down{
            max-width: 100%;
          }
        }
        p{
          font-size: 14px;
          font-weight: 300;
          line-height: 1.21;
          letter-spacing: normal;
          max-width: 175px;
          @include tablet{
            max-width: 100%;
          }
          @include phablet-down{
            max-width: 100%;
          }
        }
      }
    }
  }
}