.logo-slider {
  .slider-wrap {
    opacity: 0;
    .slider {
      .item {
        margin: 0 30px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        .logo {
          text-align: center;
          img {
            display: inline-block;
          }
        }
      }
      .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 3;
        width: 7px;
        height: 11px;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        outline: none;
        transition: background-color 0.4s ease;
        background-size: 100%;
        border: 0;
        &.slick-prev {
          left: -23px;
          background-image: url(/templates/dist/images/svg/logo-right-arrow.svg);
          background-repeat: no-repeat;
          transform: rotate(-180deg);
          background-position: center;
          background-color: transparent;
        }
        &.slick-next {
          right: -23px;
          background-image: url(/templates/dist/images/svg/logo-right-arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .info {
      text-align: center;
      margin-top: 27px;
      a {
        margin-top: 10px;
      }
      p {
        letter-spacing: 0;
      }
    }
  }
}