.resources-slider {
  .intro-block {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    p {
      margin-top: 6px;
    }
  }
  .pattern {
    position: absolute;
    right: -100px;
    top: 20px;
    width: 660px;
    height: 690px;;
  }
  .slider-wrap {
    position: relative;
    opacity: 0;
    margin: 53px 0 83px;
    .slick-list {
      padding-bottom: 5px;
      width: calc(100% + 20px);
      margin-left: -10px;
    }
    .slider {
      max-width: 1010px;
      margin: 0 auto;
      overflow: hidden;
      padding: 0 1px;
      .item {
        position: relative;
        margin: 0 10px;
        background-color: $white;
        overflow: hidden;
        .bg-img {
          text-align: center;
          height: 247px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &.text-light-blue {
          h5 {
            color: $light-blue;
          }
        }
        &.text-green {
          h5 {
            color: $green;
          }
        }
        &.text-yellow {
          h5 {
            color: $primary5;
          }
        }
        .inner-content {
          background: $white;
          padding: 32px 20px;
        }
        .content {
          background: $white;
          position: relative;
          padding: 0 20px;
          border: 1px solid $lightbrown-gray;
          min-height: 162px;
          h5 {
            font-size: 20px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            max-width: 245px;
          }
          p {
            margin-top: 10px;
            margin-bottom: 20px;
          }
          a {
            margin-top: 18px;
          }
        }
        .hover-conent {
          width: 100%;
          //display: none;
          position: absolute;
          opacity: 0;
          left: 0;
        }
        &:hover {
          .hover-conent {
            //display: block;
            position: relative;
            opacity: 1;
            transition: all 0.4s ease-in-out;
          }
          .inner-content {
            margin-top: -110px;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
  .slide-nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    top: calc(50% - 40px);
    .slick-arrow {
      position: relative;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 3;
      width: 40px;
      height: 40px;
      border: 2px solid $blue;
      border-radius: 50%;
      font-size: 0;
      cursor: pointer;
      outline: none;
      transition: background-color 0.4s ease;
      background-color: transparent;
      padding: 9px;
      text-align: center;
      svg {
        width: 100%;
        height: 100%;
        max-height: 18px;
        path {
          transition: all 0.4s ease-in-out;
        }
      }
      &:hover {
        background-color: $blue;
        svg {
          path {
            fill: $white;
          }
        }
      }
      &.slide-prev {
        float: left;
      }
      &.slide-next {
        float: right;
      }
    }
  }
}