.statistics {
  .column-wrapper {
    max-width: 960px;
    margin: 0 auto;
    font-size: 0;
    .col-two {
      display: inline-block;
      vertical-align: middle;
      float: none;
      &:first-child {
        width: 60%;
        padding-left: 38px;
      }
      &:last-child {
        width: 40%;
      }
      .content {
        //max-width: 420px;
        padding-left: 38px;
        h2 {

        }
        p {
          margin-top: 7px;
        }
      }

    }
    .col {
      max-width: 200px;
      margin: 24px;
      float: none;
      display: inline-block;
      vertical-align: top;
      @include desktop {
        width: 33.33%;
      }

      @include tablet {
        width: 33.33%;
      }

      @include phablet {
        width: 33.33%;
      }
      @include phone {
        width: 50%;
      }
      @include phone-down {
        width: 100%;
        margin: 0 auto 38px;
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
        circle {
          fill: transparent;
          stroke-width: 10;
          stroke-dasharray: 534;
          transition: stroke-dashoffset 1s;
          -webkit-animation-play-state: running;
          -moz-transform: rotate(-89deg) translateX(-190px);
        }
      }

      .progress {
        width: 200px;
        height: 200px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        overflow: visible;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 10px;
          top: 10px;
          width: 180px;
          height: 180px;
          border: 10px solid $lightbrown-gray;
          border-radius: 50%;
        }
        p {
          color: $primary;
          margin: 0 auto;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-transform: capitalize;
          margin-top: 7px;
        }
        .value {
          font-size: 54px;
          color: $green;
          margin: 0 auto;
          font-weight: 300;
          font-family: $font-families;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.22;
          letter-spacing: normal;
          span {
            font-weight: 300;
            font-family: $font-families;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
          }
        }
      }
    }
  }
  .col {
    &.circle-one {
      svg {
        circle {
          stroke: $primary3;
        }
      }
      .progress {
        .value, span {
          color: $primary3;
        }
      }
    }
    &.circle-two {
      svg {
        circle {
          stroke: $primary5;
        }
      }
      .progress {
        .value, span {
          color: $primary5;
        }
      }
    }
    &.circle-three {
      svg {
        circle {
          stroke: $green;
        }
      }
      .progress {
        .value, span {
          color: $green;
        }
      }
    }
    &.circle-four {
      svg {
        circle {
          stroke: $primary2;
          stroke-dasharray: 597;
        }
      }
      .progress {
        .value, span {
          color: $primary2;
        }
      }
    }

    &.animate-complete {
      &.circle-one {
        svg {
          circle {
            stroke-dashoffset: 130;
            animation: circle_1_animation 2s;
          }
        }
      }
      &.circle-two {
        svg {
          circle {
            stroke-dashoffset: 385;
            animation: circle_2_animation 2s;
          }
        }
      }
      &.circle-three {
        svg {
          circle {
            stroke-dashoffset: 230;
            animation: circle_3_animation 2s;
          }
        }
      }
      &.circle-four {
        svg {
          circle {
            stroke-dashoffset: 0;
            animation: circle_4_animation 2s;
          }
        }
      }
    }
  }

  @keyframes circle_1_animation {
    0% {
      stroke-dashoffset: 537;
    }

    100% {
      stroke-dashoffset: 130;
    }
  }

  @keyframes circle_2_animation {
    0% {
      stroke-dashoffset: 537;
    }

    100% {
      stroke-dashoffset: 385;
    }
  }

  @keyframes circle_3_animation {
    0% {
      stroke-dashoffset: 537;
    }

    100% {
      stroke-dashoffset: 230;
    }
  }

  @keyframes circle_4_animation {
    0% {
      stroke-dashoffset: 597;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

}