.tab-slider {
  .intro-block {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
  }
  .slider-wrap {
    .slider-for {
      .links-wrap {
        text-align: right;
        a {
          margin: 25px 0 0;
          &:hover {
            &:after {
              right: 0;
            }
          }
        }
      }
      .column-wrapper {
        margin-top: 70px;
        .img-wrap {
          padding-left: 72px;
        }
      }
      .content-wrap {
        .content {
          max-width: 345px;
          @include tablet-down {
            max-width: 100%;
            margin-bottom: 30px;
          }
          p {
            margin: 17px 0 20px;
            @include tablet {
              margin: 15px 0;
            }
            @include tablet-down {
              margin: 15px 0;
            }
          }
          .btn-wrap {
            margin-top: 44px;
            @include tablet {
              margin-top: 30px;
            }
            @include tablet-down {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

  .slider-outer {
    position: relative;
    margin-top: 30px;
    font-size: 0;
    border-top: 1px solid $lightbrown-gray;
    @include tablet {
      margin-top: 10px;
    }
    @include tablet-down {
      margin-top: 0;
    }
    .slider-nav {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      .slick-list {
        overflow: visible;
      }
      .item {
        position: relative;
        padding: 24px 14px 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -7px;
          width: 100%;
          height: 14px;
          background: $dark-purple;
          z-index: 0;
          border-radius: 5px;
          transform: scale(0, 1);
          transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
          transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
          transform-origin: right top;
        }
        .bg-img {
          cursor: pointer;
          max-width: 140px;
          margin: 0 auto;
          transition: all 0.4s ease-in-out;
          img {
            height: 33px;
            width: auto;
          }
        }
        &.slick-current {
          &:before {
            transform: scale(1, 1);
            transform-origin: left top;
          }
          .bg-img {
            opacity: 0;
          }
        }
        &:hover {
          &:before {
            transform: scale(1, 1);
            transform-origin: left top;
          }
        }
      }
    }
  }
}
