// Bootstrap integration
@import "bootstrap/scss/bootstrap";

@import 'common/default';
@import 'common/variables';
@import 'common/color-classes';
@import 'common/effect';
@import "plugins/slick";
@import "plugins/animate";
@import 'global/header';
@import 'global/footer';

// Overwriting animations from addthis with our animations
@-webkit-keyframes wefadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes wefadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: wefadeIn;
  animation-name: wefadeIn;
}

@-webkit-keyframes wefadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wefadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.wefadeInLeft, .fadeInLeft {
  -webkit-animation-name: wefadeInLeft;
  animation-name: wefadeInLeft;
}

@-webkit-keyframes wefadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wefadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.wefadeInRight, .fadeInRight {
  -webkit-animation-name: wefadeInRight;
  animation-name: wefadeInRight;
}

@-webkit-keyframes wefadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wefadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.wefadeInUp, .fadeInUp {
  -webkit-animation-name: wefadeInUp;
  animation-name: wefadeInUp;
}

body.overflow-stop {
  overflow: hidden;
}
