// Bootstrap integration
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

@import 'common/variables';
@import 'common/button';
// Plugins
@import 'plugins/animate';
@import 'plugins/slick';

// custom scss
@import "custom";

body.refresh19 {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #ffffff !important;
  @import 'common/default';
  @import 'common/button';
  @import 'global/footer';
  @import 'section/hero-banner';
  @import 'section/logo-slider';
  @import 'section/intro-with-box';
  @import 'section/footer-cta';
  @import 'section/resources-slider';
  @import 'section/statistics';
  @import 'section/banner-second';
  @import 'section/intro-with-icons';
  @import 'section/tab-slider';
  @import 'section/img-with-text';
}
