@import "../common/variables";

footer{
  padding: 105px 0 99px;
  @include desktop{
    padding: 90px 0;
  }
  @include tablet{
    padding: 80px 0;
  }
  @include phablet{
    padding: 60px 0;
  }
  @include phablet-down{
    padding: 40px 0;
  }
.content-wrapper{
  float: left;
  width: 100%;
  .col{
    float: left;
    li{
      font-size: 15px;
      color: $primary;
      line-height: 2;
      font-weight: normal;
      @include desktop-down{
        font-size: 13px;
      }
    }
    .main-link{
      font-size: 18px;
      line-height: 1.33;
      font-weight: 600;
      margin-bottom: 18px;
      @include tablet{
        font-size: 16px;
        margin-bottom: 10px;
      }
      @include tablet-down{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
  }
  .first-block{
    width: 45.7%;
    padding: 0 40px;
    float: left;
    @include desktop{
      width: 40%;
      padding: 0 20px;
    }
    @include tablet{
      width: 45%;
      padding: 0 10px 0 0;
    }
    @include phablet{
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
    }
    @include phone{
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
    @include phone-down{
      width: 100%;
      padding: 0;
      text-align: center;
      margin-bottom: 0;
    }
    p{
      font-size: 12px;
      padding-top: 35px;
      padding-left: 13px;
      @include tablet{
        padding-top: 20px;
        padding-left: 0;
      }
      @include tablet-down{
        padding-top: 20px;
        padding-left: 0;
      }
    }
    .term-link{
      float: left;
      padding-left: 13px;
      padding-top: 10px;
      @include tablet{
        padding-left: 0;
      }
      @include tablet{
        padding-left: 0;
      }
      @include phablet{
        padding: 0;
      }
      @include phone{
        padding: 0;
      }
      @include phone-down{
        float: none;
        display: inline-block;
        text-align: center;
        padding: 0;
      }
      li{
        font-size: 12px;
        font-weight: 300;
        float: left;
        padding-right: 8px;
        position: relative;
        @include phone-down{
          float: none;
          padding-right: 0;
        }
        &:after{
          content: "|";
          position: absolute;
          right: 2px;
          @include phone-down{
            display: none;
          }
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
        a{
          color: $primary;
        }
      }
    }
  }
  .second-block{
    width: 18%;
    float: left;
    padding-right: 12px;
    @include desktop{
      width: 20%;
    }
    @include tablet{
      width: 18%;
    }
    @include phablet{
      width: 35%;
    }
    @include phone{
      width: 30%;
    }
    @include phone-down{
      width: 100%;
      padding-right: 0;
      text-align: center;
    }
    li{
      font-weight: normal;
      a{
        color: $primary;
      }
    }
  }
  .third-block{
    width: 17%;
    float: left;
    padding-right: 15px;
    @include desktop{
      width: 20%;
    }
    @include tablet{
      width: 18%;
    }
    @include phablet{
      width: 35%;
    }
    @include phone{
      width: 30%;
    }
    @include phone-down{
      width: 100%;
      padding-right: 0;
      text-align: center;
    }
    li{
      font-weight: normal;
      a{
        color: $primary;
      }
    }
  }
  .fourth-block{
    width: 19.3%;
    float: right;
    padding-left: 6px;
    @include desktop{
      width: 20%;
    }
    @include tablet{
      width: 19%;
      padding-left: 0;
    }
    @include phablet{
      width: 30%;
    }
    @include phone{
      width: 35%;
    }
    @include phone-down{
      width: 100%;
      padding-left: 0;
      float: none;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
    }
    .social-link{
      float: right;
      @include phone-down{
        float: none;
        display: inline-block;
        text-align: center;
      }
      li{
        float: left;
        padding-right: 18px;
        &:last-child{
          padding-right: 0;
        }
        @include tablet{
          padding-right: 15px;
        }
        @include tablet-down{
          padding-right: 10px;
        }
        img{
          vertical-align: middle;
        }
      }
    }
  }

}

}