@import "../common/variables";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: $white;
  .top-nav {
    transition: all 0.4s ease-in-out;
    @include media-breakpoint-down (md) {
      display: none;
    }
    ul {
      text-align: right;
      padding: 15px 0 17px;
      margin: 0;
      font-size: 0;
      transition: all 0.4s ease-in-out;
      @include media-breakpoint-down (sm) {
        text-align: center;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        color: $primary;
        font-size: 14px;
        a {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.05em;
          color: $primary;
          &.link {
            &:before {
              background: $primary;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  nav {
    padding: 35px 0;
    transition: all 0.4s ease-in-out;
    @include media-breakpoint-down (md) {
      background: $white;
      padding: 15px 0;
    }
    .logo {
      max-width: 278px;
      float: left;
      transition: all 0.4s ease-in-out;
      @include media-breakpoint-only (lg) {
        max-width: 228px;
      }
      @include media-breakpoint-only (md) {
        max-width: 208px;
        height: 43px;
      }
      @include media-breakpoint-down (sm) {
        max-width: 192px;
      }
      a {
        display: inline-block;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .secondary-nav {
      display: none;
      float: right;
      @include desktop-down {
        display: block;
        margin-top: 7px;
      }
      ul {
        &.resp-search {
          float: left;
          margin: 6px 30px;
          @include desktop-down {
            margin: 0 20px;
            top: 4px;
            position: relative;
          }
          li {
            cursor: pointer;
          }
        }
      }
      .hamburger {
        position: relative;
        width: 30px;
        //height: 25px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        z-index: 2;
        @include media-breakpoint-only (xs) {
          float: right;
        }
        @include media-breakpoint-only (sm) {
          float: right;
        }
        span {
          width: 30px;
          height: 3px;
          display: block;
          background: $black;
          margin: 5px 0;
          &:nth-child(1) {
            animation-name: burgerOneReverse;
            -webkit-animation-name: burgerOneReverse;
            -moz-animation-name: burgerOneReverse;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
          }
          &:nth-child(2) {
            animation-name: burgerTwoReverse;
            -webkit-animation-name: burgerTwoReverse;
            -moz-animation-name: burgerTwoReverse;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
            opacity: 0;
          }
          &:nth-child(3) {
            animation-name: burgerThreeReverse;
            -webkit-animation-name: burgerThreeReverse;
            -moz-animation-name: burgerThreeReverse;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
          }
        }
        &.active {
          span {
            &:nth-child(1) {
              animation-name: burgerOne;
              -webkit-animation-name: burgerOne;
              -moz-animation-name: burgerOne;
              animation-duration: 500ms;
              -webkit-animation-duration: 500ms;
              -moz-animation-duration: 500ms;
              animation-fill-mode: forwards;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              transform-origin: center;
              -webkit-transform-origin: center;
              -moz-transform-origin: center;
            }
            &:nth-child(2) {
              animation-name: burgerTwo;
              -webkit-animation-name: burgerTwo;
              -moz-animation-name: burgerTwo;
              animation-duration: 500ms;
              -webkit-animation-duration: 500ms;
              -moz-animation-duration: 500ms;
              animation-fill-mode: forwards;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              transform-origin: center;
              -webkit-transform-origin: center;
              -moz-transform-origin: center;
              opacity: 0;
            }
            &:nth-child(3) {
              animation-name: burgerThree;
              -webkit-animation-name: burgerThree;
              -moz-animation-name: burgerThree;
              animation-duration: 500ms;
              -webkit-animation-duration: 500ms;
              -moz-animation-duration: 500ms;
              animation-fill-mode: forwards;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              transform-origin: center;
              -webkit-transform-origin: center;
              -moz-transform-origin: center;
            }
          }
        }
      }
    }
    .nav-wrap {
      float: right;
      @include media-breakpoint-up (md) {
        //display: block !important;
      }
      @include media-breakpoint-down (md) {
        width: 100%;
        padding: 0 20px 20px;
        position: absolute;
        top: 56px;
        left: 0;
        background: $primary;
        display: none;
        height: calc(100vh - 72px);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 11;
      }
      @include media-breakpoint-down(sm) {
        top: 55px;
        height: calc(100vh - 70px);
      }
      //@include media-breakpoint-only(xs) {
      //  top: 48px;
      //  height: calc(100vh - 63px);
      //}
      .main-nav {
        > ul {
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 0;
          > li {
            position: relative;
            list-style: none;
            display: inline-block;
            margin: 0 14.7px 0 18px;
            @include media-breakpoint-down (md) {
              display: block;
              margin: 15px 0;
              padding: 0;
            }
            &.search-wrap {
              span {
                font-size: 14px;
                display: block;
                cursor: pointer;
              }
            }
            &:first-child {
              margin-left: 0;
              @include media-breakpoint-down (md) {
                display: none;
              }
            }
            &:last-child {
              margin-right: 0;
            }
            @include media-breakpoint-only (lg) {
              margin: 0 13px;
            }
            a {
              font-size: 15px;
              color: $black;
              display: inline-block;
              letter-spacing: 0.065em;
              @include media-breakpoint-down (md) {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: $black;
                cursor: pointer;
              }
              @include media-breakpoint-only (xs) {
                font-size: 14px;
              }
              &:hover {
                text-decoration: none;
              }
              &.btn-contact {
                margin-top: 6px;
                font-size: 14px;
                @include media-breakpoint-down (lg) {
                  margin-top: 0;
                }
                @include media-breakpoint-only(md) {
                  padding: 10px 15px;
                }
                @include media-breakpoint-only (sm) {
                  padding: 10px 15px;
                }
                @include media-breakpoint-only (xs) {
                  padding: 8px 13px;
                }
              }
            }
          }
          .resp-top-nav {
            display: inline-block;
            vertical-align: middle;
            display: none;
            @include media-breakpoint-down (md) {
              display: block;
            }
            li {
              display: inline-block;
              vertical-align: middle;
              margin: 0 15px;
              @include media-breakpoint-down (md) {
                display: block;
                margin: 15px 0;
                padding: 0;
              }
              a {
                font-size: 15px;
                color: $black;
                text-transform: uppercase;
                display: inline-block;
                letter-spacing: 0.065em;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    .top-nav {
      transition: all 0.4s ease-in-out;
      ul {
        padding: 7px 0 8px;
      }
    }
    nav {
      background: $white;
      padding: 20px 0;
      margin-top: -1px;
      transition: all 0.4s ease-in-out;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      @include desktop-down {
        padding: 15px 0;
      }
    }
  }
}

@keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-moz-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-webkit-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-ms-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

/* Burger-two */
@keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Burger-Three */

@keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@-moz-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@-webkit-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@-ms-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/* reverse-animation */

/* Burger-one-reverse */

@keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-moz-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-ms-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

/* Burger-two */
@keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Burger-Three */

@keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-moz-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-ms-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
