@import 'variables';

/*
 * Links.
 */
%btn-default {
  font-size: 16px;
  font-weight: normal;
  font-family: $font-families;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 3.5px 13.57px;
  border-radius: 100px;
  position: relative;
  color: $white !important;
  border: 2px solid transparent;
  background: $blue;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  span{
    display: block;
    padding: 5px 10px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  &:after{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 11px 0;
    top: -3px;
    left: 0;
    opacity: 0;
    color: $blue;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  @include transition(all, 0.3s, ease-out);
  @include phone {
    padding: 5px 9px;
  }
  @include phone-down {
    padding: 5px 8px;
    font-size: 14px;
  }
}

.btn-default,
.btn-white,
.btn-trnsprnt {
  @extend %btn-default;
}
.btn-default {
  background: $blue;
  &:hover {
    background: transparent;
    border: 2px solid $blue;
    color: $blue !important;
    span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
    }
    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
.btn-white{
  color: $blue!important;
  background: $white;
  border: 2px solid $white;
  @include phone {
    padding: 5px 9px;
  }
  @include phone-down {
    padding: 5px 8px;
    font-size: 14px;
  }
  &:hover{
    background: transparent;
    border: 2px solid $white;
    color: $white!important;
    span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
    }
    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &:after{
      color: $white!important;
    }
  }

}
.btn-trnsprnt {
  padding: 9px 21px;
  color: $blue !important;
  background: transparent;
  border: 2px solid $blue;
  @include phone {
    padding: 5px 9px;
  }
  @include phone-down {
    padding: 5px 8px;
    font-size: 14px;
  }
  &:hover {
    background: $white;
    color: $blue !important;
    text-decoration: none;
    span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
    }
    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $blue;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:before {
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

.link-arrow {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $blue;
  padding-right: 21px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 6px;
    height: 10px;
    background-size: 100%;
    top: 0;
    bottom: 0;
    margin: auto;;
    background-image: url(/templates/dist/images/svg/right-blue-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    &:after {
      right: -5px;
    }
  }
}




