@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-top: 176px;
  @include media-breakpoint-only(lg) {
    padding-top: 166px;
  }
  @include media-breakpoint-only(md) {
    padding-top: 73px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 70px;
  }
}

ol, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  font-family: $font-families;
  color: $black;
  display: inline-block;
}
span, label{
  font-family: $font-families;
}

@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=ce3f72e4-e293-47b2-aa77-88106c8e4843");


h1, h2, h3, h4, h5, h6, p,
fieldset, form, label,
table, tbody, tr, th, td,
figure, footer, header,
menu, nav, section,
audio, video, button {
  margin: 0;
  border: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  border: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1150px;
  position: relative;
}

section{
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 0;
  overflow: hidden;
  @include desktop {
    padding: 50px 0;
  }
  @include tablet {
    padding: 50px 0;
  }
  @include tablet-down {
    padding: 40px 0;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

header:after,
.container:after,
.ql-18:after,
.wrapper:after,
.column-wrapper:after,
.grid-wrapper:after,
.two-third:after,
.content-wrapper:after,
.v-middle-wrapper:after,
footer:after{
  content: "";
  clear: both;
  display: block;
}

footer{
  clear: both;
}

/*
 * Heading and Paragraph.
 */

h1 {
  font-size: 55px;
  font-family: $font-families;
  font-weight: 300;
  line-height: 0.95;
  letter-spacing: -0.6px;
  //color: $white;
  @include desktop {
    font-size: 55px;
  }
  @include tablet {
    font-size: 50px;
  }
  @include phablet {
    font-size: 40px;
  }
  @include phone {
    font-size: 35px;
  }
  @include phone-down {
    font-size: 30px;
  }
}
h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: $font-families;
  line-height: 1.23;
  letter-spacing: -0.4px;
  color: $primary;
  @include desktop {
    font-size: 35px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include phablet {
    font-size: 28px;
  }
  @include phone {
    font-size: 26px;
  }
  @include phone-down {
    font-size: 24px;
  }
}
h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: $font-families;
  line-height: 1.33;
  letter-spacing: normal;
  color: $primary;
  @include desktop {
    font-size: 28px;
  }
  @include tablet {
    font-size: 26px;
  }
  @include phablet {
    font-size: 24px;
  }
  @include phablet-down {
    font-size: 18px;
  }
}
h4 {
  font-size: 28px;
  font-family: $font-families;
  font-weight: 300;
  line-height: 1.21;
  letter-spacing: 0.064em;
  color: $primary;
  @include desktop {
    font-size: 26px;
  }
  @include tablet {
    font-size: 24px;
  }
  @include phablet {
    font-size: 20px;
  }
  @include phablet-down {
    font-size: 18px;
  }
}
h5 {
  font-size: 22.1px;
  font-family: $font-families;
  font-weight: 300;
  line-height: 1.09;
  letter-spacing: 0.081em;
  color: $primary;
  @include desktop {
    font-size: 20px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include phablet {
    font-size: 18px;
  }
  @include phablet-down {
    font-size: 18px;
  }
}

h6 {
  font-size: 16px;
  font-family: $font-families;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.147em;
  color: $primary;
}

p {
  font-family: $font-families;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  color: $primary;
  letter-spacing: normal;
  @include tablet-down {
    line-height: 1.2;
  }
  @include phone-down {
    font-size: 14px;
  }
}

input {
  font-family: $font-families;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: $font-families;
  color: $black;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: $font-families;
  color: $black;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: $font-families;
  color: $black;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: $font-families;
  color: $black;
  opacity: 1;
}

.color-white{
  color: $white;
}

/*
 * Columns.
 */

.col {
  width: 100%;
  float: left;
  position: relative;
}
.col-two {
  width: 50%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-three {
  width: 33.33%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-four {
  width: 25%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-five {
  width: 20%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-six {
  width: 16.66%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-seven {
  width: 66.66%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}
.col-eight {
  width: 75%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

/*
 * Background Image.
 */
.bg-img {
  overflow: hidden;
}


/*
 * Vertical Align Middle.
 */
.v-middle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3
}

.v-middle-inner {
  display: table;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.v-middle,
.v-top,
.v-bottom {
  display: table-cell;
  vertical-align: middle;
}
.v-top{
  vertical-align: top;
}
.v-bottom{
  vertical-align: bottom;
}
/*
 * Text Alignment.
 */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}


.blend-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}
:-moz-placeholder { /* Firefox 18- */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}

img:-moz-loading {
  visibility: hidden;
}

input::-ms-clear {
  display: none;
}
select::-ms-expand {
  display: none;
}

input:-webkit-autofill:focus {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
input:-webkit-autofill {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

button::-moz-focus-inner {
  border: 0;
}


.play-video {
  cursor: pointer;
  .bg-img {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 81px;
      height: 81px;
      background: url("/templates/dist/images/svg/play.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      cursor: pointer;
      @include tablet {
        width: 61px;
        height: 61px;
      }
      @include phablet {
        width: 40px;
        height: 40px;
      }
      @include phablet-down {
        width: 30px;
        height: 30px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.21);
    }
  }
}